<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Nový koník</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9aUEPE77knir6m7jqhMPj0X4x1O6j21uK2w&usqp=CAU" />
    <ion-list>
      <ion-button color="success" size="full" fill="clear" >Nahrej fotku koníka</ion-button>
      <ion-item>
        <ion-label position="floating">Jméno koníka</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Od kdy ho mám</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Jak se ke mě dostal</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-label position="floating">Poznámky</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>
  <ion-button size="full" color="success" (click)="newPickupCall()">Přidej koníka do stáje</ion-button>
</ion-content>