<ion-header>
  <ion-toolbar color="success">
    <ion-title>Hobby koníci</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR13-CtzcMhwu9Gzg7_k9cWvtE7TcpQCyv5Ug&usqp=CAU "/>
      </ion-avatar>
      <ion-label>
        <p>Katka Slavíková</p>
        <p>Cena: <span class="money>"> 1 500 Kč</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-content>
  <ion-card
     status="hold" updateAt="25.1.2023" createAt="24.1.2023" 
    notes="koník má odlehčenou konstrukci a neprotáčí se tyč">
    <ion-card-content>
        <ion-card-header header>
          <ion-card-subtitle>Last pickup call</ion-card-subtitle>
        </ion-card-header>
        <ion-button color="success" fill="clear" size="full" footer (click)="goToPickupCalls()">
          See all...
        </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="newPickupCall()" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
